*{
    margin: 0;
    padding: 0;
}

@total-width:750;// 设计图的像素
@center-width:693/40rem;//居中的宽度

//居中
.w{
    width: @center-width;
    margin: 0 auto;
}
html{
    // 设置rem比值
    font-size: 100vw/@total-width*40;
    background-color: #eff0f4;
}

a{
    text-decoration: none;
}

//设置header
.top-bar:extend(.w){
    display: flex;
    height: 175/40rem;
    //设置对齐方式
    justify-content: space-between;
    //设置侧轴对齐方式
    align-items: center;
    line-height: 175/40rem;

   

    a{
        color: #24253d;
        font-size: 50/40rem;

        i{
            color: #999999;
            font-size: 40/40rem;
        }
    }
}


//设置banner
.banner:extend(.w){
    img{
        width: 100%;
    }
}

//是指菜单
.menu:extend(.w){
    height: 329/40rem;
    display: flex;
    //设置换行
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-evenly;
    a{
        width: 327/40rem;
        height: 104/40rem;
        line-height: 104/40rem;
        color: white;
        border-radius: 10/40rem;
        font-size: 30/40rem;
    }
    i{
        margin:0 20/40rem 0 38/40rem ;
    }

    .course{
        background-color: #f97053;
    }
    .star{
        background-color: #cd6efe;
    }
    .sub{
        background-color: #fe4479;
    }
    .dowload{
        background-color: #1bc4fb;
    }
}

//设置课程列表
.course-list:extend(.w){
    height: 394/40rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 46/40rem;
   .title{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   h2{
       font-size: 33/40rem;
       color: #24253d;
       border-left: 1/40rem solid #3a84ff;
       padding-left:10/40rem;
   }
   a{
       font-size: 28/40rem;
       color: #656565;
   }
}
//设置课程列表项
.item-list{
    width: 720/40rem;
    display: flex;
    overflow:auto ;
}
.item{
    
    box-sizing: border-box;
    padding: 0 22/40rem;
    width: 320/40rem;
    height: 324/40rem;
    background-color:white;
    box-shadow: 0 0 10/40rem rgba(0, 0, 0, .3);
    border-radius: 10/40rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-right: 24/40rem;

    img{
        width: 100%;
    }
    
    .course-title{
        font-size:32/40rem ;
        color: #24243d;
    }
    .user-info{
        display: flex;
        align-items: center;
    }
    .avatar{
        width: 42/40rem;
        height: 42/40rem;
    }
    .nickname{
        font-size: 4/40rem;
        color: #969393;
        margin-left: 6/40rem;
    }
    
}