body,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
legend,
li,
ol,
p,
select,
ul {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

body {
    min-width: 1200px;
    color: #333;
    text-align: left;
    font: 14px/1.8 "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro
Hei",Arial,sans-serif}li,ol,ul{list-style:none}input,select{outline:0;vertical-align:middle;font-family:"Helvetica Neue",Helvetica,"PingFang SC","Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif}img{border:0}p{text-indent:0}textarea{resize:none;outline:0;font-family:"Helvetica Neue",Helvetica,"PingFang SC","Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif}a,a:link,a:visited{color:#1787e0;text-decoration:none}a:hover{color:#1787e0;text-decoration:underline}.clearfix:after{content:"\0020";display:block;clear:both;height:0}.clearfix{zoom:1}.clearFloat{clear:both;height:0;line-height:0;font-size:0;overflow:hidden}.wrap1180{width:1180px;margin:0
auto
}

.footer-wrapper,
.header-wrapper,
.main-wrapper {
    width: 100%
}

.container {
    width: 1180px;
    margin: 0 auto
}

.ch-sticky {
    height: 100%;
    position: relative
}

.ch-sticky .main-wrapper {
    min-height: 100%
}

.ch-sticky .main-wrapper .container {
    padding-bottom: 198px
}

.ch-sticky .footer-wrapper {
    margin-top: -198px
}

a,
a:link,
a:visited {
    color: #333
}

input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
    border: none;
    padding: 0
}

table.pageTable td {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all
}

.ch-point {
    margin-right: 10px;
    color: #999;

    font-family: tahoma, arial, "Microsoft
YaHei","Hiragino Sans GB",SimSun,sans-serif}h1.h1-hide{position:absolute;left:0;top:-300px;margin-top:-30px;height:0;line-height:0}.login-box{float:right;color:#fff}.login-box
a, .login-box a:link, .login-box a:visited {
        color: #fff
    }

    .ewm-box {
        padding: 10px;
        background: #fff;
        margin-bottom: 15px;
        max-width: 335px
    }

    .ewm-box .wx-tips {
        display: inline-block;
        vertical-align: top;
        width: 70px;
        height: 42px;
        line-height: 24px;
        margin: 16px 2px
    }

    .ewm-box img {
        width: 75px;
        height: 75px
    }

    .logo-a {
        display: inline-block;
        width: 95px;
        height: 18px;
        background-image: url(../images/logo-min.png?v=1527037238856);
        background-image: -webkit-image-set(url("../images/logo-min.png?v=1527037238856") 1x, url("../images/logo-min2x.png?v=1527037238856") 2x);
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle
    }

    .logo-box {
        padding-top: 30px
    }

    .logo-box .location {
        display: inline-block;
        vertical-align: top;
        color: #999;
        margin-right: 12px
    }

    .logo-box .color1d {
        color: #1787e0
    }

    .logo-box .bread-nav {
        float: left;
        margin-top: 5px
    }

    .logo-box .bread-nav img {
        height: 24px;
        margin-top: 34px
    }

    .logo-box .search-box {
        float: right
    }

    .logo-box .search-input {
        width: 258px;
        height: 34px;
        line-height: 34px;
        border: 1px solid #d6d6d6;
        padding: 0 10px;
        outline: 0
    }

    .logo-box .search-btn,
    .logo-box .search-input {
        float: left;
        vertical-align: middle;
        font-size: 14px
    }

    .logo-box .search-btn {
        width: 70px;
        height: 36px;
        border: none;
        color: #fff;
        background: #1787e0;
        cursor: pointer
    }

    .title-box {
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd
    }

    .title-box h2 {
        color: #333;
        font-size: 32px;
        padding: 15px 0 12px;
        font-weight: 400
    }

    .title-box span {
        color: #999
    }

    #share {
        position: absolute;
        right: 0;
        bottom: 10px
    }

    #share img {
        display: none
    }

    #share span,
    #share ul {
        float: left;
        display: inline
    }

    #share ul {
        position: relative
    }

    #share ul li {
        float: left;
        display: inline;
        font-size: 12px
    }

    #share li a {
        width: 16px;
        height: 16px;
        display: block;
        float: left;
        background: url(//t1.chei.com.cn/common/images/share.png?201605&v=1527037238856) no-repeat;
        text-indent: 30px;
        margin-top: 4px;
        margin-right: 6px;
        overflow: hidden
    }

    #share li a.sinawb {
        background-position: -4px 0
    }

    #share li a.qqkj {
        background-position: -4px -40px
    }

    #share li a.qqwb {
        background-position: -4px -80px
    }

    #share li a.qqwx {
        background-position: -4px -120px
    }

    #share .wx_part {
        overflow: hidden;
        zoom: 100%
    }

    #share .wx_jiao {
        top: -16px;
        _top: -38px;
        border-color: transparent transparent #ccc
    }

    #share .wx_jiao,
    #share .wx_jiao2 {
        position: absolute;
        right: 7px;
        width: 0;
        height: 0;
        font-size: 0;
        border-width: 8px;
        border-style: dashed dashed solid
    }

    #share .wx_jiao2 {
        top: -14px;
        _top: -36px;
        border-color: transparent transparent #fff
    }

    #share .wx_code {
        border: 1px solid #ccc;
        width: 118px;
        height: 157px;
        line-height: 21px;
        padding-left: 4px;
        background: #fff;
        position: absolute;
        top: 30px;
        right: 0;
        display: none
    }

    #share .qrcode {
        padding: 10px 7px 5px;
        overflow: hidden
    }

    #share .qrcode,
    #share .qrcode img {
        display: block;
        width: 100px;
        height: 100px
    }

    #share .wx_text {
        display: block;
        width: 114px;
        text-align: center
    }

    .content-box {
        padding: 30px 0
    }

    .content-box .content-l {
        float: left;
        width: 780px
    }

    .content-box .content-r {
        float: right;
        width: 350px
    }

    .content-box .content-wide {
        width: 1180px
    }

    .detail a {
        color: #06c
    }

    .content-l p {
        line-height: 32px;
        margin-bottom: 15px;
        font-size: 16px;
        color: #333;
        text-indent: 2em
    }

    .content-l h4 {
        font-size: 16px;
        color: #333;
        line-height: 36px
    }

    .content-l .no-indent {
        text-indent: inherit
    }

    .aside-box {
        margin-bottom: 20px
    }

    .aside-box .aside-title {
        border-left: 5px solid #1787e0;
        padding: 0 10px;
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        color: #333;
        background: #f0f0f0
    }

    .aside-box .aside-con {
        border: 1px solid #f0f0f0;
        border-top: 0;
        padding: 12px 16px
    }

    .aside-box li {
        color: #333;
        height: 28px;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .aside-box a {
        margin-right: 12px
    }

    .img-box {
        margin-bottom: 20px;
        background: #fff
    }

    .news-list li {
        position: relative;
        padding-right: 90px;
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        border-bottom: 1px solid #dcdcdc;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    .news-list .span-time {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 80px;
        color: #999;
        font-size: 14px;
        text-align: center
    }

    .line01 {
        height: 0;
        margin: 10px 0;
        border-bottom: 1px dotted #ddd
    }

    .yz-tool {
        width: 100%;
        height: 75px;
        margin-top: 10px;
        margin-bottom: 15px;
        background-color: #f7f9fa
    }

    .yz-tool .tool-title {
        width: 20px;
        padding: 0 5px;
        height: 100%;
        line-height: 24px;
        text-align: center;
        background-color: #1787e0;
        color: #fff;
        vertical-align: middle
    }

    .yz-tool .tool-content {
        padding-left: 12px;
        overflow: hidden;
        line-height: 1.2
    }

    .yz-tool .tool-content a,
    .yz-tool .tool-content a:link,
    .yz-tool .tool-content a:visited {
        display: inline-block;
        width: 71px;
        overflow: hidden;
        margin-right: 25px;
        margin-bottom: 5px;
        margin-top: 5px
    }